<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0" />
    <title>Document</title>
</head>

{% if messages %}
<div class="error-card">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<body>

    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <img src="{% static 'images/Logo.jpg.png' %}" alt="logo">
            </div>
            <div class="login-card-header">
                <h1>Sign In</h1>
                <div>Please sign in to use the platform</div>
            </div>

            <form class="login-card-form" method="post">
                {% csrf_token %}

               
                {% if error_message %}
                    <div class="error-message">
                        <p>{{ error_message }}</p>
                    </div>
                {% else %}

                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">person</span>
                    <input type="text" class="input-grp" name="username" placeholder="Enter Username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" pattern="^[A-Za-z0-9@.+-_]{1,150}" required="" id="id_username">
                </div>
            

                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" name="password" placeholder="Enter Password" autofocus="" autocapitalize="none" autocomplete="password" maxlength="150" required="" id="id_password">
                </div>

                
                {% endif %}

                
            
                
                <div class="login-card-footer">
                    Don't have an account? <a href="{% url 'signup' %}">Create account.</a>
                </div>

                <button type="submit">Login</button>
                
            </form>
            
        </div>
    
    </div>

    

</body>
</html>