<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/successPage.css' %}"/>
    <title>successPage</title>
</head>
<body>

<div class="container">

    <div class="login-card-logo">
        <img src="{% static 'images/Logo.jpg.png' %}" alt="logo">
    </div>

    <div class="header">
        <h1>
            Successfully Created Account
        </h1>
    </div>

    <div class="return-to-login">
        <p>
            return to <a href="{% url 'index' %}">login.</a>
        </p>
    </div>

</div>
</body>
</html>